body {
    background: #fa0;
}

/* -------------------------------------
CSS TABLE OF CONTENTS
# BASE CONTENT (GLOBALS)
    # RESET
    # COLORS
    # TYPOGRAPHY
        # BODY
        # HEADING
        # PARAGRAPHS
        # LINKS
        # LISTS
        # BLOCK QUOTES
        # HELPERS
    # MEDIA
        #IMAGES (Responsive)
    # COMPONENTS/UI ELEMENTS
        # BUTTONS
# BASE LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # GRID SYSTEM
# SITE STRUCTURE
    # SITE HEADER
        # SITE ID
    # SITE MAIN
    # SITE FOOTER
    # SITE NAVIGATION
        # TOGGLE NAV
    # SECTIONS
    # SUB PAGES
    
-----------------------------------------*/

body {margin: 0;}
* {box-sizing: border-box;}