body {
    background: #fa0;
}

/* -------------------------------------
CSS TABLE OF CONTENTS
# BASE CONTENT (GLOBALS)
    # RESET
    # COLORS
    # TYPOGRAPHY
        # BODY
        # HEADING
        # PARAGRAPHS
        # LINKS
        # LISTS
        # BLOCK QUOTES
        # HELPERS
    # MEDIA
        #IMAGES (Responsive)
    # COMPONENTS/UI ELEMENTS
        # BUTTONS
# BASE LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # GRID SYSTEM
# SITE STRUCTURE
    # SITE HEADER
        # SITE ID
    # SITE MAIN
    # SITE FOOTER
    # SITE NAVIGATION
        # TOGGLE NAV
    # SECTIONS
    # SUB PAGES
    
-----------------------------------------*/

body {margin: 0;}
* {box-sizing: border-box;}

/* TYPOGRAPHY */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {font-size: 3em;  /* 48px based on a 16em */}
h2 {font-size: 2.25em;  /* 36px based on a 16em */}
h3 {font-size: 1.5em;  /* 24px based on a 16em */}
h4 {font-size: 1.3125em;  /* 21px based on a 16em */}
h5 {font-size: 1.125em;  /* 18px based on a 16em */}
h6 {font-size: 1em;  /* 16px based on a 16em */}

/* PARAGRAPHS */
p{
    max-width: 35em;
}

/* LINKS */
a {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button, button {
    font-size: 1em;
    display: inline-block;
    background-color: honeydew;
    color: darkolivegreen;
    padding: 1em 1.5em;
    border-radius: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1;
    text-align: center;
}

.button:hover, button:hover {
    background-color: darkgreen;
    color: greenyellow;
    text-decoration: none;
}

.button.alt {
border: 1px solid darkolivegreen;
    background-color: transparent;
    color: honeydew;
}


.button.alt:hover {
    background-color: darkgreen;
    color: greenyellow;
    }

/* BASE LAYOUT */
/* CONTAINER */


/* MEDIA QUERIES */
/* FOR SMALL-SIZED SCREENS (AND LARGER) */

body {
    font-size: 87.5%; /* 14 px */
}
.container {
    padding: 0 1em;
    margin: 0 auto;
}

/* FOR MID-SIZED SCREENS/TABLETS (AND LARGER) */
@media (min-width: 768px) {
}


/* FOR LARGE-SIZED SCREENS/LAPTOPS (AND LARGER) */
@media (min-width: 1000px) {
    body {font-size: 100%; /* 16 px */}
    .container {max-width: 1000px;}
}
    
/* FOR EXTRA LARGE-SIZED SCREENS/DESKTOPS (AND LARGER) */
@media (min-width: 1200px) {
    body {font-size: 112%; /* 18 px */}
    .container {max-width: 1000px;}   
}


/* GRID SYSTEM */

.column {
    margin-top: 1%;
    margin-bottom: 1%;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        margin-left: -1%;
        margin-left: -1%;
    }
    .column {
        flex-grow: 0;
        margin-left: 1%;
        margin-right: 1%;
    }
    .one-whole { width: 100%; }
    .one-half { width: 48%; }
    .one-third { width: 31.3333%; }
    .push-one-third { margin-left: 34.3333%; }
    .two-thirds { width: 64.6666%; }
    .one-fourth { width: 23%; }
    .push-one-fourth { margin-left: 26%; }

    .row.centered {
        justify-content: center;
    }

    .column.centered {
        margin-left: auto;
        margin-right: auto;
    }


}
/* SITE HEADER */

.site-header {
    padding: 1em .5em;
}

@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
    }
}


.site-header a, .site-footer a {
    /* color: rgba(0,0,0,.8); */
    text-decoration: none;
}
.site-header a:hover,
.site-footer a:hover {
    /* color: rgba(0,0,0,1); */
}


/* SITE FOOTER */
.site-footer {
    padding: 1em 5em 3em 5em ;

}

/* SITE ID (LOGO) */
.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

.site-id a {
    display: block;
    padding: .25em 0;
}

/* SITE NAV (Primary Top Nav) */
.site-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
}

.site-nav a {
    display: block;
    padding: .5em 1em;
}                                                                            

/* SITE MAIN (Main Content Area) */
.site-main {

}
/* SECTIONS */
section {
    padding: 4em 0;
}
.hero {
    text-align: center;
    background-color: #ddd;
    padding: 3em 1em;
}
.hero h2 {
    font-size: 4em;
    line-height: 1em;
}
.hero p{
    margin-left: auto;
    margin-right: auto;
}

/* -----------------------------------
--------------------------------------
        FOR LAYOUT DEMO PURPOSES 
--------------------------------------
-------------------------------------- */

.demo .column {
    background: #ccc;
    padding: .5em;
    text-align: center;
}


.demo .column p{
    max-width: none;
}

/* FOR SMALL-SIZED SCREENS (AND LARGER) */

body.demo::before {
    content: "SMALL Screen (0-767px)";
    display: block;
    background: red;
    color: white;
    text-align: center;
    padding: .2em;
    font-size: .8em;
}
/* FOR MID-SIZED SCREENS/TABLETS (AND LARGER) */
@media (min-width: 768px) {
    
body.demo::before {
    content: "MID Screen (767px-999px)";
    background: blue;}
}

/* FOR LARGE-SIZED SCREENS/LAPTOPS (AND LARGER) */
@media (min-width: 1000px) {
    
body.demo::before {
    content: "LARGE Screen (1000px-1199px)";
    background: green;}
}

/* FOR EXTRA LARGE-SIZED SCREENS/DESKTOPS 
  (AND LARGER) */
@media (min-width: 1200px) {
    
body.demo::before {
    content: "EXTRA LARGE Screen (1200px and up)";
    background: teal;}
    
}

/* FOR DEV TESTING */
/* 
* {
    background-color: rgba(255,0,0,.2);
    color: rgba(255,0,0,.2);
    box-shadow: 0 0 0 3px inset rgba(255,0,0,1);
}

.site-header {
    background-color: rgba(0,255,0,.4);
    box-shadow: 0 0 0 3px inset rgba(0,255,0,.1);
}
.site-main {
    background-color: rgba(0,0,255,.4);
    box-shadow: 0 0 0 3px inset rgba(0,0,255,.4);
}
.site-footer {
    background-color: rgba(255,255,0,.4);
    box-shadow: 0 0 0 3px inset rgba(255,255,0,.4);
} */
