// BREAKPONT
$breakpoint-small: 768px;
$breakpoint-medium: 1000px;
$breakpoint-large: 1200px;

// IMPORT PARTIALS
@import "partials/toc";
@import "partials/base_content";
@import "partials/base_layout";
@import "partials/grid";
@import "partials/site_stucture"; 
@import "partials/demo";